body {
  margin: 0;
  font-family:IBM Plex Serif,serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('.//..//..//assets/img/body-bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: rgb(241, 236, 235);
}


